
<div class="container-fluid" ng-if="tournamentId">

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <td>
        <a href="#" ng-click="sortType = 'pseudo'; sortReverse = !sortReverse">
          <span ng-show="sortType == 'pseudo' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'pseudo' && sortReverse" class="fa fa-caret-up"></span>
        Pseudo
        </a>
      </td>
      <!--<td>
        <a href="#" ng-click="sortType = 'ranking'; sortReverse = !sortReverse">
          <span ng-show="sortType == 'ranking' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'ranking' && sortReverse" class="fa fa-caret-up"></span>
          Ranking
        </a>
      </td>-->
      <td>
        <a href="#" ng-click="sortType = 'post_pref1'; sortReverse = !sortReverse">
          <span ng-show="sortType == 'post_pref1' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'post_pref1' && sortReverse" class="fa fa-caret-up"></span>
          Post 1
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'post_pref2'; sortReverse = !sortReverse">
          <span ng-show="sortType == 'post_pref2' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'post_pref2' && sortReverse" class="fa fa-caret-up"></span>
          Post 2
        </a>
      </td>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="participant in participantTab| orderBy:sortType:sortReverse">
      <td><a href="#/dashboard/{{ participant.server }}/{{ participant.pseudo }}">{{ participant.pseudo }}</a> </td>
      <!--<td>NULL</td>-->
      <!--<td>{{ participant.ranking}}</td>-->
      <td>{{ participant.post_pref1}}</td>
      <td>{{ participant.post_pref2}}</td>
    </tr>
    </tbody>

  </table>

</div>
