<div class="container-fluid" id="tabs">
  <div class="row">
    <div class="hidden-xs col-sm-7 section">
      Some stuff
    </div>
    <div class="col-xs-12 col-sm-5 section">
    <ul class="nav nav-tabs">
      <li ng-class="{'active': tabActive=='login'}"><a ng-click="tabActive = 'login'">Log in</a></li>
      <li ng-class="{'active': tabActive=='signup'}"><a ng-click="tabActive = 'signup'">Sign up</a></li>
    </ul>

    <form ng-if="tabActive == 'login'" name="login"  >
      <div class="form-group">
        <label for="login">Login :</label>
        <div id="summoner" >
          <input type="text" class="form-control" ng-model="loginForm.ids.pseudo" ng-model-options="{ debounce: 500 }" name="login" id="login" placeholder="Summoner name" title="your in game name, not your lol username"/>
          <select ng-model="loginForm.ids.server" >
            <option ng-repeat="server in serverTab" value="{{server.id}}">{{server.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="pass">Password :</label>
        <input type="password" name="pass" id="pass" class="form-control" placeholder="Password" ng-model="loginForm.password" title="minimum 6 caracteres including letters and numbers"/>
      </div>
        <a id="passwordTool" ng-click="pwdReco()"> Password forgotten ?</a>
      <div id="toggle" class="form-group" ng-if="showMail">
        <label for="mail">Mail :</label>
        <input type="email" class="form-control" name="mail" id="mail1" placeholder="riven@lol.com" title="email used when registering"/>
      </div>
      <input class="form-control" type="button" ng-click="loginSubmit()" value="log in"/><span id="tool"></span>
    </form>

    <form ng-if="tabActive == 'signup'" name="signup" >
    <div class="form-group">
    </div>
    <div class="form-group">
      <label for="login">Pseudo :</label>
      <input class="form-control" type="text" ng-model="signupForm.ids.pseudo" name="login" placeholder="Summoner name" title="your in game name, not your lol username"/>
      <div id="check"  > Uncheck</div>
    </div>
    <div class="form-group">
      <label for="server">server :</label>
      <select class="form-control" id="server" ng-model="signupForm.ids.server" name="server">
        <option ng-repeat="server in serverTab" value="{{server.id}}">{{server.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="mail">Mail :</label>
      <input class="form-control" type="email" ng-model="signupForm.mail" name="mail" id="mail" placeholder="riven@lol.com" title="email only used for password recovery"/>
    </div>
    <div class="form-group">
      <label for="pass-1">Password :</label>
      <input class="form-control" type="password" ng-model="signupForm.password" name="pass1" id="pass-1" placeholder="Password" title="minimum 6 caracteres including letters and numbers"/>
    </div>
    <div class="form-group">
      <label for="pass-2">Password again :</label>
      <input class="form-control" type="password" ng-model="signupForm.passwordConf" name="pass2" id="pass-2" placeholder="Password" title="minimum 6 caracteres including letters and numbers"/>
    </div>
    <div >
      <img src="images/warning.png" id="imgWarning"/>
      <div id="textWarning"><p >In order to check you are the owner of the account please rename one of your runes page as paintfusion</p> </div>
    </div>
    <div id="div_submit">
      <input class="form-control" type="button" ng-click="signupSubmit()" id="submit" value="Sign up"/>
      <span id="alert"></span>
    </div>
  </form>

  </div>
  </div>
</div>
