<div class="container-fluid" id="tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a ng-click="tabActive = 'login'">Log in</a></li>
    <li><a ng-click="tabActive = 'signup'">Sign up</a></li>
  </ul>
  <form ng-if="tabActive == 'login'" name="login" >
    <div class="form-group">
      <label for="login">Login :</label>
      <div id="summoner" >
        <input type="text" class="form-control" name="login" id="login" placeholder="Summoner name" title="your in game name, not your lol username"/>
        <select  >
          <option ng-repeat="server in serverTab" value="{{server.id}}">{{server.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="pass">Password :</label>
      <input type="password" name="pass" id="pass" class="form-control" placeholder="Password" title="minimum 6 caracteres including letters and numbers"/>
    </div>
      <p id="passwordTool" ng-click="pwdReco()"> Password forgotten ?</p>
    <div id="toggle" class="form-group" ng-if="showMail">
      <label for="mail">Mail :</label>
      <input type="email" class="form-control" name="mail" id="mail1" placeholder="riven@lol.com" title="email used when registering"/>
    </div>
    <input class="form-control" type="submit" id="log_in" value="log in"/><span id="tool"></span>
  </form>
  <form ng-if="tabActive == 'signup'">
    <div class="form-group" >
      <label for="first-name" >Full name :</label>
      <input class="form-control" type="text" name="first-name" id="first-name" placeholder="Name" />
    </div>
    <div class="form-group">
      <label for="last-name" >Full name :</label>
      <input class="form-control" type="text" name="last-name" id="last-name" placeholder="Last name"/>
    </div>
    <div class="form-group">
      <label for="mail">Mail :</label>
      <input class="form-control" type="email" name="mail" id="mail" placeholder="riven@lol.com" title="email only used for password recovery"/>
    </div>
    <div class="form-group">
      <label for="login">Login :</label>
      <input class="form-control" type="text" name="login" placeholder="Summoner name" title="your in game name, not your lol username"/>
      <div id="check"  > Uncheck</div>
    </div>
    <div class="form-group">
      <label for="server">server :</label>
      <select class="form-control" id="server" name="server">
        <option ng-repeat="server in serverTab" value="{{server.id}}">{{server.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="pass-1">Password :</label>
      <input class="form-control" type="password" name="pass1" id="pass-1" placeholder="Password" title="minimum 6 caracteres including letters and numbers"/>
    </div>
    <div class="form-group">
      <label for="pass-2">Password again :</label>
      <input class="form-control" type="password" name="pass2" id="pass-2" placeholder="Password" title="minimum 6 caracteres including letters and numbers"/>
    </div>
    <div >
      <img src="images/warning.png" id="imgWarning"/>
      <div id="textWarning"><p >In order to check you are the owner of the account please rename one of your runes page as paintfusion</p> </div>
    </div>
    <div id="div_submit">
      <input class="form-control" type="submit" id="submit" value="Sign up"/>
      <span id="alert"></span>
    </div>
  </form>
</div>
