<div class="container-fluid">
  <div class="col-xs-5 col-xs-offset-">
    <div class="row">
      <div class="peuso">{{profil.pseudo}}</div>
      <div class="level">Serveur : {{profil.server}}</div>
      <div class="level">Level : {{profil.lvl}}</div>
      <div class="rank">{{profil.tier}} {{profil.division}}</div>
      <div class="lp">LP :{{profil.LP}}</div>
      <br>
      <div class="icon"></div>
      <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.22.1/img/profileicon/{{profil.icon}}.png" class="img-responsive">
    </div>
    <matrix class="row" ng-if="profilOk" sum-id="profil.sumId" server="profil.server"></matrix>
  </div>
  <history class="col-xs-5 col-xs-offset-1" ng-if="profilOk" sum-id="profil.sumId" server="profil.server"></history>


</div>
