<div class="container-fluid">
  <div class="row">
    <div class="col-xs-5">
      <div class="peuso">{{profil.pseudo}}</div>
      <div class="level">Serveur : {{profil.server}}</div>
      <div class="level">Level : {{profil.lvl}}</div>
      <div class="rank">{{profil.tier}} {{profil.division}}</div>
      <div class="lp">LP :{{profil.LP}}</div>
      <br>
      <div class="icon"></div>
      <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.22.1/img/profileicon/{{profil.icon}}.png" class="img-responsive">

      <div id="container" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto;"></div>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
      Historic
      <table class="table table-hover">
        <tr>
          <th>Champ</th>
          <th>Count</th>
          <th>Items</th>
          <th>KDA</th>
        </tr>
        <tr ng-repeat="game in games" ng-class="game.stats.win?'bg-success':'bg-danger'">
          <td>
            <img src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/champion/{{champion(game.championId)}}.png" class="img-responsive">

            <img src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/spell/Summoner{{summonerSpell(game.spell1)}}.png" class="img-responsive">
            <img src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/spell/Summoner{{summonerSpell(game.spell2)}}.png" class="img-responsive">
          </td>
          <td>
            <div>gold:{{game.stats.goldEarned}}</div>
            <div>cs:{{game.stats.minionsKilled}}</div>
            <div>min:{{game.stats.timePlayed/60}}</div>
            <div>Type:{{game.subType}}</div>
          </td>
          <td></td>
          <td>
            <div>{{game.stats.championsKilled}}/{{game.stats.numDeaths}}/{{game.stats.assists}}</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">

  </div>


</div>
